---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slugify }}/index.html"
---
<ul class="section h-feed">
  {% set tabindex = -1 %}
  <li class="section"><a href="../" tabindex="{{ tabindex }}">../</a></li>
  {% set tabindex = tabindex - 1 %}
  <li class="section"><a class="selected" href="./" tabindex="{{ tabindex }}">./</a></li>

  {% for post in collections.posts %}
    {% if post.data.tags and (tag in post.data.tags) %}
      {% set tabindex = tabindex - 1 %}
      <li class="post h-entry"><a class="u-url p-name" href="{{ post.url }}" tabindex="{{ tabindex }}">{{ post.data.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
