---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* THEME PORT CREDIT */
Theme: {{ metadata.theme.name }}
Original Theme Homepage: {{ metadata.theme.homepage }}
Original Theme Author: {{ metadata.theme.author }}
Original Theme License: {{ metadata.theme.license }}
Original Theme Demo: {{ metadata.theme.demo }}

/* GITHUB AUTHORS / CONTRIBUTORS (from git history) */
Contributors:
- Super-Botman <79469126+Super-Botman@users.noreply.github.com>
- Botman <velayismaa@gmail.com>
- installer <installer@gmail.com>
- 0xb0tm4n <0xb0tm4n@proton.me>
- b0tm4n <79469126+Super-Botman@users.noreply.github.com>
- 0xb0tm4n <installer@gmail.com>
- Hiraeth <108179798+HiraethEcho@users.noreply.github.com>

Co-authors:
- (none detected)

/* TECHNOLOGY */
Built with: Eleventy {{ metadata.eleventyVersion }}, ESM, Nunjucks, Luxon, Pagefind
