---
layout: layouts/base.njk
title: Home
usePageStyles: true
---
<h1>README</h1>

<h2>Table of content</h2>

<ul class="section">
  <li class="section"><a class="selected" href="#shortcuts" tabindex="-1">1. Shortcuts</a></li>
  <li class="section"><a href="#commands" tabindex="-2">2. Commands</a></li>
</ul>

<h2 id="shortcuts">Shortcuts</h2>

<p><code>shift+h/l</code> to switch from file browser to file viewer</p>

<p><code>j/k</code> to scroll through the file content</p>

<p><code>j/k</code> to go through files in file browser</p>

<p><code>enter</code> to open the currently selected file</p>

<p><code>esc+command</code> see <a href="#Commands">## Commands</a></p>

<p><code>shift+t/enter</code> to open the file in a new tab</p>

<p><code>tab</code> to go to the next tab</p>

<p><code>shift+q</code> to close the current tab</p>

<h2 id="commands">Commands</h2>

<p><code>:help</code> to show this page</p>

<p><code>:q</code> exit website</p>

<p><code>:set mouse=true|false</code> to set the mouse (true=showed, false=hidden)</p>
